.secontStepContainer {
    padding-top: 70px;
    text-align: left;
}

.structureDataCont {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-left: 40px;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.itemGridStructure {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.inputContainerParent {
    width: 104px;
}

.finalTest {
    display: block;
    text-align: left;
    padding-left: px;
}

.radioGroup {
    display: flex;
    gap: 15px;
}

.checkboxGroup {
    display: flex;
    gap: 27px;
}

.buttonContainer {
    padding-top: 40px;
    width: 579px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 20px;
}

.title {
    font-weight: 600;
    font-size: 40px;
    line-height: 63.3px;
    color: var(--text);
}

.labelTitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 33.6px;
    color: var(--text);
}
