.newCourse {
    background-color: #FFFFFF;
    border-radius: 30px;
    padding: 25px;
    cursor: pointer;
    padding: 30px 50px;
}

.text {
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: 600;
    font-size: 32px;
    line-height: 26.38px;
    color: #000000;
}