button {
    background: none;
}

li {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    color: #404040;
}

.container {
  padding-top: 30px;
  display: flex;
  gap: 20px;
  height: 100%;
  font-family: sans-serif;
}

.sidebar {
  width: 340px;
  background: #FFFFFF;
  border-radius: 30px;
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}

.search {
  padding: 5px 10px 5px 10px;
  border: 1px solid #0000001A;
  border-radius: 25px;
  margin-top: 10px;
  color: #404040;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
}

input:focus {
  outline: none;
}

.searchBar {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    border-bottom: 1px solid #0000001A;
    align-items: center;
}

.newChatBtn {
  width: 242px;
  height: 50px;
  background-color: #7A5CFA;
  color: #FFFFFF;
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newChatText {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
}

.chatList {
  list-style: none;
  padding: 0;
  flex: 1;
  overflow-y: auto;
}

.renameForm input {
    background: none;
    outline: none;
    border: none;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    color: #404040;
}

.chatItem, .renameForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 43px;
  cursor: pointer;
}

.chatInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.actions button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 5px 0 5px 0;
}

.activeChat {
  background: #EAE8FF;
  border-radius: 43px;
  padding: 5px 10px 5px 20px;
  color: #7A5CFA;
}

.disActiveChat {
  background: #FFFFFF;
  border-radius: 43px;
  padding: 5px 10px 5px 20px;
}

.chatWindow {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.userMsg {
  display: flex;
  align-items: center;
  gap: 25px;
  text-align: left;
  margin-bottom: 30px;
}

.userMsg img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.botMsg {
  display: block;
  text-align: left;
  margin: 5px 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.inputBar {
  display: flex;
  border: none;
  border-radius: 25px;
  background-color: #FFFFFF;
  padding: 10px;

}

.inputBar input {
  flex: 1;
  border: none;
  padding: 5px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: #404040;
}

.inputBar input:focus {
  outline: none;
}

.inputBar button {
  margin-left: 10px;
  padding: 5px 10px;
  cursor: pointer;
  background: none;
}

.saveButton {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0 !important;
  margin: 0 !important;
}


.dots::after {
  content: '.';
  animation: typing-dots 1.5s infinite;
}

@keyframes typing-dots {
  0% { content: '.'; }
  33% { content: '..'; }
  66% { content: '...'; }
  100% { content: '.'; }
}