.button {
    padding: 12px 24px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    text-align: center;
    width: 100%;
    font-weight: 400;
    font-size: 20px;
    line-height: 26.38px;
  }

  .primary {
    background: none;
    border: 3px solid #7A5CFA;
    color: #7A5CFA;
    border-radius: 30px;
  }

  /* .primary:hover {
    background-color: #c8c6ea;
  } */

  .secondary {
    background-color: #e0e0e0;
    color: #333;
    border: 1px solid #bdbdbd;
  }

  .secondary:hover {
    background-color: #bdbdbd;
  }

  .button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  .button:active:not(:disabled) {
    transform: scale(0.98);
  }
