.notFound {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background: var(--background);
    padding: 20px;
    overflow: auto;
}

.numberError {
    font-family: 'Days';
    font-weight: 400;
    font-size: 560px;
    margin: 0;

    background: linear-gradient(
        to bottom,
        rgba(54, 55, 59, 1) 0%,
        rgba(54, 55, 59, 0.9) 35%,
        rgba(54, 55, 59, 0.55) 65%,
        rgba(54, 55, 59, 0.15) 90%,
        rgba(54, 55, 59, 0) 100%
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.title {
    font-weight: 400;
    font-family: 'Days';
    font-size: 64px;
    color: #F0F0EC;
    padding: 20px 0;
    text-align: center;
    max-width: 90%;
    margin-top: -230px;
}

.text {
    font-family: 'GolosText';
    font-size: 20px;
    color: #F0F0EC;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
}

.link {
    text-decoration: none;
    color: #C6F135;
    border: none;
    border-radius: 15px;
    letter-spacing: 0.05em;
    width: 100%;
    font-size: 20px;
    max-width: 500px;
    text-align: center;
    transition: all 0.3s ease;
    font-family: 'GolosText';
}

@media (max-width: 768px) {
    .title {
        font-size: 20px;
        padding: 20px 0;
    }
    
    .link {
        font-size: 16px;
        padding: 15px;
    }
}